@{
    ViewData["Title"] = "Home Page";
    string nomeUsuario = "Lucas";
}

<div class="d-flex justify-content-center">

    <div class="card m-2" style="width: 18rem;">
    <img class="card-img-top" src="@(Url.Content("~/images/projects.png"))" alt="Projects">
    <div class="card-body">
        <h2 class="card-title text-center">Projetos</h5>
        <p class="card-text">Aqui você encontra os projetos mais completos</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    </div>
    
    <div class="card m-2" style="width: 18rem;">
    <img class="card-img-top" src="@(Url.Content("~/images/folders.png"))" alt="Folders">
    <div class="card-body">
        <h2 class="card-title text-center">Exercicios</h5>
        <p class="card-text">Aqui você encontra os exercicios que eu pratico</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    </div>

</div>
