@page "/"

<PageTitle>Home</PageTitle>

<h1>Primeiro site com BLAZOR</h1>
<p>Teste mortal com blazor</p>

<div class="container d-flex justify-content-center">
    <img src="https://images.vexels.com/media/users/3/145589/isolated/preview/e224f5817268d0af82ca77d7bcc64a37-xicara-de-cafe.png" alt="Xícara de café" class="img-fluid" />
</div>
