<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documento</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <style>
        :root
        {
            --CorFontePadrao: #FFFFFF;
            --CorBase1: #191919;
            --CorBase2: #0f0f0f;
            --CorBase3: #353535;
            --CorBase4: #3c3c3c;
        }

        .form-control::placeholder {
        color: #FFFFFF; 
        opacity: 1;
        font-size: 0.67rem;
        }

        .font-size1{
            font-size: 0.7rem;
        }

        .size-125{
            height: 1.25rem;
        }
        .size-150{
            height: 1.50rem;
        }
        .size-2{
            height: 2rem;
        }

        .size-cabeçalho{
            height: 3.5rem;
        }

        .container-imagens-sm-size{
            width: 160px;
            
        }
        .imagens-sm-size{
            width: 150px;
            height: 100px;
        } 

        body{
            background-color: #121212;
        }

    </style>
</head>
<body>
    <!-- bloquear tamanho minimo pra que a responsividde permaneça -->
    <nav class="navbar navbar-expand-md navbar-expand-lg" style="background-color: var(--CorBase2);">
        <div class="container-fluid">
            <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa-solid fa-bars" style="color: var(--CorFontePadrao);"></i>
            </button>

            <a class="navbar-brand" href="#">
                <img src="Images/Logo-example.png">
            </a>

            <!-- Search bar -->
             <div>
                 <form class="d-flex nav-item" role="search">
                     <div class="rounded-2 container d-flex align-items-center" style="background-color: var(--CorBase1); height: 1.2rem; width: 13.5rem;">
                         <a class="fa-solid fa-magnifying-glass" style="color: white; text-decoration: none;"></a>
                        <input class="form-control form-control-xs rounded-1 ms-3 border-0 h-75" type="search" placeholder="Search" style="background-color: var(--CorBase3); color: var(--CorFontePadrao); padding-bottom: 0.50rem;"/>
                     </div>
                 </form>
             </div>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#" style="color: var(--CorFontePadrao);">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color: var(--CorFontePadrao);">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color: var(--CorFontePadrao);">Pricing</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main>
        <!-- imagens Section -->
        <section>
            <div class="moldura container-fluid" style="background-color: var(--CorBase4); height: 5px;"></div>

            <div id="carouselExampleCaptions" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" style="width: 7px; height: 7px; border-radius: 50%; padding: 0; border: none;"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2" style="width: 7px; height: 7px; border-radius: 50%; padding: 0; border: none;"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3" style="width: 7px; height: 7px; border-radius: 50%; padding: 0; border: none;"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4" style="width: 7px; height: 7px; border-radius: 50%; padding: 0; border: none;"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="Images/nissa-example.png" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>First slide label</h5>
                            <p>Some representative placeholder content for the first slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="..." class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Second slide label</h5>
                            <p>Some representative placeholder content for the second slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="..." class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Third slide label</h5>
                            <p>Some representative placeholder content for the third slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="..." class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Four slide label</h5>
                            <p>Some representative placeholder content for the third slide.</p>
                        </div>
                    </div>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>






            
            <div class="moldura container-fluid" style="background-color: var(--CorBase4); height: 5px;"></div>

        </section>

        <!-- Filters Section -->
        <section>
            <div class="container d-flex mt-2">
                <div class="btn-group">
                    <button class="btn btn-sm rounded-4 d-flex align-items-center h-75 border-2" style="color: var(--CorFontePadrao); border-color: var(--CorBase3);" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-filter" style="color: var(--CorFontePadrao);">
                        </i>Filters
                    </button>
                        <div class="dropdown-menu">
                            <li class="ms-1"><label><input type="checkbox"> tal tal</label></li>
                            <li class="ms-1"><label><input type="checkbox"> tal tal</label></li>
                            <li class="ms-1"><label><input type="checkbox"> tal tal</label></li>
                            <li class="ms-1"><label><input type="checkbox"> tal tal</label></li>
                            <li class="ms-1"><label><input type="checkbox"> tal tal</label></li>
                            <li class="ms-1"><label><input type="checkbox"> tal tal</label></li>
                            <li class="ms-1"><label><input type="checkbox"> tal tal</label></li>
                            <button class="ms-1">enviar</button>
                        </div>
                </div>
                <button class="btn btn-sm rounded-4 d-flex align-items-center h-75 fw-bold border-0" style="color: var(--CorFontePadrao);">Clear All</button>
                <button class="btn btn-sm rounded-4 d-flex align-items-center ms-auto size-150 border-2" style="color: var(--CorFontePadrao);">
                    Ordenar por
                </button>
            </div>
                <!-- adicionar espace bween?7 -->
            <div class="mx-2 mt-2 d-flex rounded-3 align-items-center space-btween gap-2 size-2" style="background-color: var(--CorBase1);">
                <div class="d-flex">
                    <button class="btn btn-sm rounded-4 d-flex align-items-center border-2 size-150 ms-1" style="background-color: var(--CorBase3); color: var(--CorFontePadrao); border-color: var(--CorBase2);">
                        <i class="fa-regular fa-circle-xmark me-1" style="color: var(--CorFontePadrao);"></i> aaaaaa
                    </button>
                    <button class="btn btn-sm rounded-4 d-flex align-items-center border-2 size-150 ms-1" style="background-color: var(--CorBase3); color: var(--CorFontePadrao); border-color: var(--CorBase2);">
                        <i class="fa-regular fa-circle-xmark me-1" style="color: var(--CorFontePadrao);"></i> aaaaaa
                    </button>
                    <button class="btn btn-sm rounded-4 d-flex align-items-center border-2 size-150 ms-1" style="background-color: var(--CorBase3); color: var(--CorFontePadrao); border-color: var(--CorBase2);">
                        <i class="fa-regular fa-circle-xmark me-1" style="color: var(--CorFontePadrao);"></i> aaaaaa
                    </button>
                </div>
            </div>
        </section>

        <!-- Content sections -->
        <section>
            <div class="mx-2 mt-2 row d-flex gap-1  justify-content-center"> 
                <div class="col-6 container-imagens-sm-size rounded-3 d-flex flex-column align-items-center" style="background-color: var(--CorBase1);">
                    <div class="imagens-sm-size rounded-3 m-1" style="background-color: var(--CorBase3);">
                        Imagem relacionada no tamanho "grande"
                    </div>
                        <div class="w-100">
                            <p class="font-size1 m-0" style="color: var(--CorFontePadrao);">Nome: aaaaaaaaaaaaa</p>
                            <p class="font-size1 m-0" style="color: var(--CorFontePadrao);">Valor:x.xxx.xxx</p>
                        </div>
                </div>
                <div class="col-6 container-imagens-sm-size rounded-3 d-flex flex-column align-items-center" style="background-color: var(--CorBase1);">
                    <div class="imagens-sm-size rounded-3 m-1" style="background-color: var(--CorBase3);">
                        Imagem relacionada no tamanho "grande"
                    </div>
                        <div class="w-100">
                            <p class="font-size1 m-0" style="color: var(--CorFontePadrao);">Nome: aaaaaaaaaaaaa</p>
                            <p class="font-size1 m-0" style="color: var(--CorFontePadrao);">Valor:x.xxx.xxx</p>
                        </div>
                </div>
                <div class="col-6 container-imagens-sm-size rounded-3 d-flex flex-column align-items-center" style="background-color: var(--CorBase1);">
                    <div class="imagens-sm-size rounded-3 m-1" style="background-color: var(--CorBase3);">
                        Imagem relacionada no tamanho "grande"
                    </div>
                        <div class="w-100">
                            <p class="font-size1 m-0" style="color: var(--CorFontePadrao);">Nome: aaaaaaaaaaaaa</p>
                            <p class="font-size1 m-0" style="color: var(--CorFontePadrao);">Valor:x.xxx.xxx</p>
                        </div>
                </div>
                <div class="col-6 container-imagens-sm-size rounded-3 d-flex flex-column align-items-center" style="background-color: var(--CorBase1);">
                    <div class="imagens-sm-size rounded-3 m-1" style="background-color: var(--CorBase3);">
                        Imagem relacionada no tamanho "grande"
                    </div>
                        <div class="w-100">
                            <p class="font-size1 m-0" style="color: var(--CorFontePadrao);">Nome: aaaaaaaaaaaaa</p>
                            <p class="font-size1 m-0" style="color: var(--CorFontePadrao);">Valor:x.xxx.xxx</p>
                        </div>
                </div>
                <div class="col-6 container-imagens-sm-size rounded-3 d-flex flex-column align-items-center" style="background-color: var(--CorBase1);">
                    <div class="imagens-sm-size rounded-3 m-1" style="background-color: var(--CorBase3);">
                        Imagem relacionada no tamanho "grande"
                    </div>
                        <div class="w-100">
                            <p class="font-size1 m-0" style="color: var(--CorFontePadrao);">Nome: aaaaaaaaaaaaa</p>
                            <p class="font-size1 m-0" style="color: var(--CorFontePadrao);">Valor:x.xxx.xxx</p>
                        </div>
                </div>
                <div class="col-6 container-imagens-sm-size rounded-3 d-flex flex-column align-items-center" style="background-color: var(--CorBase1);">
                    <div class="imagens-sm-size rounded-3 m-1" style="background-color: var(--CorBase3);">
                        Imagem relacionada no tamanho "grande"
                    </div>
                        <div class="w-100">
                            <p class="font-size1 m-0" style="color: var(--CorFontePadrao);">Nome: aaaaaaaaaaaaa</p>
                            <p class="font-size1 m-0" style="color: var(--CorFontePadrao);">Valor:x.xxx.xxx</p>
                        </div>
                </div>
                <div class="col-6 container-imagens-sm-size rounded-3 d-flex flex-column align-items-center" style="background-color: var(--CorBase1);">
                    <div class="imagens-sm-size rounded-3 m-1" style="background-color: var(--CorBase3);">
                        Imagem relacionada no tamanho "grande"
                    </div>
                        <div class="w-100">
                            <p class="font-size1 m-0" style="color: var(--CorFontePadrao);">Nome: aaaaaaaaaaaaa</p>
                            <p class="font-size1 m-0" style="color: var(--CorFontePadrao);">Valor:x.xxx.xxx</p>
                        </div>
                </div>
                <div class="col-6 container-imagens-sm-size rounded-3 d-flex flex-column align-items-center" style="background-color: var(--CorBase1);">
                    <div class="imagens-sm-size rounded-3 m-1" style="background-color: var(--CorBase3);">
                        Imagem relacionada no tamanho "grande"
                    </div>
                        <div class="w-100">
                            <p class="font-size1 m-0" style="color: var(--CorFontePadrao);">Nome: aaaaaaaaaaaaa</p>
                            <p class="font-size1 m-0" style="color: var(--CorFontePadrao);">Valor:x.xxx.xxx</p>
                        </div>
                </div>
                <div class="col-6 container-imagens-sm-size rounded-3 d-flex flex-column align-items-center" style="background-color: var(--CorBase1);">
                    <div class="imagens-sm-size rounded-3 m-1" style="background-color: var(--CorBase3);">
                        Imagem relacionada no tamanho "grande"
                    </div>
                        <div class="w-100">
                            <p class="font-size1 m-0" style="color: var(--CorFontePadrao);">Nome: aaaaaaaaaaaaa</p>
                            <p class="font-size1 m-0" style="color: var(--CorFontePadrao);">Valor:x.xxx.xxx</p>
                        </div>
                </div>
                <div class="col-6 container-imagens-sm-size rounded-3 d-flex flex-column align-items-center" style="background-color: var(--CorBase1);">
                    <div class="imagens-sm-size rounded-3 m-1" style="background-color: var(--CorBase3);">
                        Imagem relacionada no tamanho "grande"
                    </div>
                        <div class="w-100">
                            <p class="font-size1 m-0" style="color: var(--CorFontePadrao);">Nome: aaaaaaaaaaaaa</p>
                            <p class="font-size1 m-0" style="color: var(--CorFontePadrao);">Valor:x.xxx.xxx</p>
                        </div>
                </div>
                <div class="col-6 container-imagens-sm-size rounded-3 d-flex flex-column align-items-center" style="background-color: var(--CorBase1);">
                    <div class="imagens-sm-size rounded-3 m-1" style="background-color: var(--CorBase3);">
                        Imagem relacionada no tamanho "grande"
                    </div>
                        <div class="w-100">
                            <p class="font-size1 m-0" style="color: var(--CorFontePadrao);">Nome: aaaaaaaaaaaaa</p>
                            <p class="font-size1 m-0" style="color: var(--CorFontePadrao);">Valor:x.xxx.xxx</p>
                        </div>
                </div>
                <div class="col-6 container-imagens-sm-size rounded-3 d-flex flex-column align-items-center" style="background-color: var(--CorBase1);">
                    <div class="imagens-sm-size rounded-3 m-1" style="background-color: var(--CorBase3);">
                        Imagem relacionada no tamanho "grande"
                    </div>
                        <div class="w-100">
                            <p class="font-size1 m-0" style="color: var(--CorFontePadrao);">Nome: aaaaaaaaaaaaa</p>
                            <p class="font-size1 m-0" style="color: var(--CorFontePadrao);">Valor:x.xxx.xxx</p>
                        </div>
                </div>
                


                
            </div>
        </section>

         <footer class="mt-2">
             <div class="moldura2" style="background-color: var(--CorBase3);">
                a
             </div>
             <div id="conteudo-footer" style="background-color: var(--CorBase2);">
                <div class="container py-4 d-flex gap-2">

                    <div class="row" style="color: var(--CorFontePadrao);">
                        <div class="mb-3 me-3">
                            <h5 style="color: var(--CorFontePadrao);">About</h5>
                            <ul class="list-unstyled">
                                <li>xxxxxxxxxxxx</li>
                                <li>xxxxxxxx</li>
                                <li>xxxxxxxxxxxx</li>
                            </ul>
                        </div>
                    </div>

                    <div class="row" style="color: var(--CorFontePadrao);">
                        <div class="mb-3 me-3 ">
                            <h5 style="color: var(--CorFontePadrao);">Useful links</h5>
                            <ul class="list-unstyled">
                                <li>xxxxxxxxxxx</li>
                                <li>xxxxxxx</li>
                                <li>xxxxxxxxxx</li>
                            </ul>
                        </div>
                    </div>

                    <div class="row" style="color: var(--CorFontePadrao);">
                        <div class="mb-3 me-3 ms-3">
                            <h5 style="color: var(--CorFontePadrao);">Contacts</h5>
                            <ul class="list-unstyled">
                                <li>GitHUb</li>
                                <li>Linkedin</li>
                                <li>Instagram</li>
                            </ul>
                        </div>
                    </div>


                </div>
             </div>
         </footer>
    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/d865973c5f.js" crossorigin="anonymous"></script>
</body>
</html>